admit/xmlio/dtd/admit.dtd

<!-- This file is automatically generated by dtdGenerator.py,
  based on files in admit/bdp and admit/at. Edit this file at your own risk.
-->
<!-- The root node is BDP and has child nodes listed afterward,
     a * indicates 0 or more instances
     a ? indicates 0 or 1 instances
     no added marker indicates 1 instance is expected
 -->
<!ELEMENT ADMIT (userData,summaryData,project_id,name,pmode,ptype,flowmanager,projmanager,loglevel,astale,_loggername,BDPINGEST_AT,CONTINUUMMAP_AT,CONTINUUMSUB_AT,CUBESPECTRUM_AT,CUBESTATS_AT,CUBESUM_AT,DESCRIPTIONVECTOR_AT,EXPORT_AT,FEATURELIST_AT,FILE_AT,FLOW11_AT,FLOW1N_AT,FLOWMN_AT,FLOWN1_AT,GENERATESPECTRUM_AT,INGEST_AT,LINECUBE_AT,LINEID_AT,LINESEGMENT_AT,MOMENT_AT,OVERLAPINTEGRAL_AT,PVCORR_AT,PVSLICE_AT,PRINCIPALCOMPONENT_AT,REGRID_AT,SFIND2D_AT,SMOOTH_AT,SPECTRALMAP_AT,SPWCUBE_AT,TEMPLATE_AT,TEST_AT)>
<!ELEMENT userData (#PCDATA)>
<!ATTLIST userData type (DICT) #REQUIRED>
<!ATTLIST userData ndarray (STRING) #REQUIRED>
<!ATTLIST userData set (STRING) #REQUIRED>
<!ELEMENT summaryData (metadata,_datatype,_description)>
<!ATTLIST summaryData type (SUMMARY) #REQUIRED>
<!ELEMENT metadata (summaryEntry)>
<!ATTLIST metadata type (METADATA) #REQUIRED>
<!ATTLIST metadata name (STRING) #REQUIRED>
<!ELEMENT summaryEntry (_value,_taskname,_taskid,_taskargs)>
<!ATTLIST summaryEntry type (SUMMARYENTRY) #REQUIRED>
<!ELEMENT _value (#PCDATA)>
<!ATTLIST _value type (LIST) #REQUIRED>
<!ATTLIST _value ndarray (STRING) #REQUIRED>
<!ATTLIST _value set (STRING) #REQUIRED>
<!ELEMENT _taskname (#PCDATA)>
<!ATTLIST _taskname type (STRING) #REQUIRED>
<!ELEMENT _taskid (#PCDATA)>
<!ATTLIST _taskid type (INT) #REQUIRED>
<!ELEMENT _taskargs (#PCDATA)>
<!ATTLIST _taskargs type (STRING) #REQUIRED>
<!ELEMENT _datatype (#PCDATA)>
<!ATTLIST _datatype type (DICT) #REQUIRED>
<!ATTLIST _datatype ndarray (STRING) #REQUIRED>
<!ATTLIST _datatype set (STRING) #REQUIRED>
<!ELEMENT _description (#PCDATA)>
<!ATTLIST _description type (DICT) #REQUIRED>
<!ATTLIST _description ndarray (STRING) #REQUIRED>
<!ATTLIST _description set (STRING) #REQUIRED>
<!ELEMENT project_id (#PCDATA)>
<!ATTLIST project_id type (INT) #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ATTLIST name type (STRING) #REQUIRED>
<!ELEMENT pmode (#PCDATA)>
<!ATTLIST pmode type (INT) #REQUIRED>
<!ELEMENT ptype (#PCDATA)>
<!ATTLIST ptype type (INT) #REQUIRED>
<!ELEMENT flowmanager (#PCDATA)>
<!ATTLIST flowmanager type (DICT) #REQUIRED>
<!ATTLIST flowmanager ndarray (STRING) #REQUIRED>
<!ATTLIST flowmanager set (STRING) #REQUIRED>
<!ELEMENT projmanager (#PCDATA)>
<!ATTLIST projmanager type (DICT) #REQUIRED>
<!ATTLIST projmanager ndarray (STRING) #REQUIRED>
<!ATTLIST projmanager set (STRING) #REQUIRED>
<!ELEMENT loglevel (#PCDATA)>
<!ATTLIST loglevel type (INT) #REQUIRED>
<!ELEMENT astale (#PCDATA)>
<!ATTLIST astale type (INT) #REQUIRED>
<!ELEMENT _loggername (#PCDATA)>
<!ATTLIST _loggername type (STRING) #REQUIRED>
