admit/xmlio/dtd/File_BDP.dtd

<!-- This file is automatically generated by dtdGenerator.py,
  based on files in admit/bdp and admit/at. Edit this file at your own risk.
-->
<!-- The root node is BDP and has child nodes listed afterward,
     a * indicates 0 or more instances
     a ? indicates 0 or 1 instances
     no added marker indicates 1 instance is expected
 -->
<!ELEMENT BDP	(_updated,mous,_type,_baseDir,gous,xmlFile,_version,project,sous,_uid,_taskid,filename,_date)>
<!ATTLIST BDP type (File_BDP) #REQUIRED>
<!-- child nodes #PCDATA indicates parsable character data-->
<!ELEMENT _updated		(#PCDATA)>
<!ATTLIST _updated type (BOOL) #REQUIRED>
<!ELEMENT project		(#PCDATA)>
<!ATTLIST project type (STRING) #REQUIRED>
<!ELEMENT _type		(#PCDATA)>
<!ATTLIST _type type (STRING) #REQUIRED>
<!ELEMENT _baseDir		(#PCDATA)>
<!ATTLIST _baseDir type (STRING) #REQUIRED>
<!ELEMENT gous		(#PCDATA)>
<!ATTLIST gous type (STRING) #REQUIRED>
<!ELEMENT xmlFile		(#PCDATA)>
<!ATTLIST xmlFile type (STRING) #REQUIRED>
<!ELEMENT _version		(#PCDATA)>
<!ATTLIST _version type (STRING) #REQUIRED>
<!ELEMENT mous		(#PCDATA)>
<!ATTLIST mous type (STRING) #REQUIRED>
<!ELEMENT sous		(#PCDATA)>
<!ATTLIST sous type (STRING) #REQUIRED>
<!ELEMENT _uid		(#PCDATA)>
<!ATTLIST _uid type (INT) #REQUIRED>
<!ELEMENT _taskid		(#PCDATA)>
<!ATTLIST _taskid type (INT) #REQUIRED>
<!ELEMENT filename		(#PCDATA)>
<!ATTLIST filename type (STRING) #REQUIRED>
<!ELEMENT _date		(#PCDATA)>
<!ATTLIST _date type (STRING) #REQUIRED>
