admit/xmlio/dtd/LineTable_BDP.dtd

<!-- This file is automatically generated by dtdGenerator.py,
  based on files in admit/bdp and admit/at. Edit this file at your own risk.
-->
<!-- The root node is BDP and has child nodes listed afterward,
     a * indicates 0 or more instances
     a ? indicates 0 or 1 instances
     no added marker indicates 1 instance is expected
 -->
<!ELEMENT BDP	(_updated,mous,_type,_baseDir,gous,xmlFile,_version,project,sous,_uid,_taskid,table,line,_date)>
<!ATTLIST BDP type (LineTable_BDP) #REQUIRED>
<!-- child nodes #PCDATA indicates parsable character data-->
<!ELEMENT _updated		(#PCDATA)>
<!ATTLIST _updated type (BOOL) #REQUIRED>
<!ELEMENT project		(#PCDATA)>
<!ATTLIST project type (STRING) #REQUIRED>
<!ELEMENT _type		(#PCDATA)>
<!ATTLIST _type type (STRING) #REQUIRED>
<!ELEMENT _baseDir		(#PCDATA)>
<!ATTLIST _baseDir type (STRING) #REQUIRED>
<!ELEMENT gous		(#PCDATA)>
<!ATTLIST gous type (STRING) #REQUIRED>
<!ELEMENT xmlFile		(#PCDATA)>
<!ATTLIST xmlFile type (STRING) #REQUIRED>
<!ELEMENT _version		(#PCDATA)>
<!ATTLIST _version type (STRING) #REQUIRED>
<!ELEMENT mous		(#PCDATA)>
<!ATTLIST mous type (STRING) #REQUIRED>
<!ELEMENT sous		(#PCDATA)>
<!ATTLIST sous type (STRING) #REQUIRED>
<!ELEMENT _uid		(#PCDATA)>
<!ATTLIST _uid type (INT) #REQUIRED>
<!ELEMENT _taskid		(#PCDATA)>
<!ATTLIST _taskid type (INT) #REQUIRED>
<!ELEMENT table	(description,planes,units,data,columns)>
<!ATTLIST table type (TABLE) #REQUIRED>
<!ELEMENT description		(#PCDATA)>
<!ATTLIST description type (STRING) #REQUIRED>
<!ELEMENT planes		(#PCDATA)>
<!ATTLIST planes ndarray (STRING) #REQUIRED>
<!ATTLIST planes set (STRING) #REQUIRED>
<!ATTLIST planes type (LIST) #REQUIRED>
<!ELEMENT units		(#PCDATA)>
<!ATTLIST units ndarray (STRING) #REQUIRED>
<!ATTLIST units set (STRING) #REQUIRED>
<!ATTLIST units type (LIST) #REQUIRED>
<!ELEMENT data		(#PCDATA)>
<!ATTLIST data type (NDARRAY) #REQUIRED>
<!ELEMENT columns		(#PCDATA)>
<!ATTLIST columns ndarray (STRING) #REQUIRED>
<!ATTLIST columns set (STRING) #REQUIRED>
<!ATTLIST columns type (LIST) #REQUIRED>
<!ELEMENT line	(funits,name,energies,transition,energyunits,lsunits,frequency,uid,formula,blend,linestrength)>
<!ATTLIST line type (LINE) #REQUIRED>
<!ELEMENT funits		(#PCDATA)>
<!ATTLIST funits type (STRING) #REQUIRED>
<!ELEMENT name		(#PCDATA)>
<!ATTLIST name type (STRING) #REQUIRED>
<!ELEMENT energies		(#PCDATA)>
<!ATTLIST energies ndarray (STRING) #REQUIRED>
<!ATTLIST energies set (STRING) #REQUIRED>
<!ATTLIST energies type (LIST) #REQUIRED>
<!ELEMENT transition		(#PCDATA)>
<!ATTLIST transition type (STRING) #REQUIRED>
<!ELEMENT energyunits		(#PCDATA)>
<!ATTLIST energyunits type (STRING) #REQUIRED>
<!ELEMENT lsunits		(#PCDATA)>
<!ATTLIST lsunits type (STRING) #REQUIRED>
<!ELEMENT frequency		(#PCDATA)>
<!ATTLIST frequency type (FLOAT) #REQUIRED>
<!ELEMENT uid		(#PCDATA)>
<!ATTLIST uid type (STRING) #REQUIRED>
<!ELEMENT formula		(#PCDATA)>
<!ATTLIST formula type (STRING) #REQUIRED>
<!ELEMENT blend		(#PCDATA)>
<!ATTLIST blend type (INT) #REQUIRED>
<!ELEMENT linestrength		(#PCDATA)>
<!ATTLIST linestrength type (FLOAT) #REQUIRED>
<!ELEMENT _date		(#PCDATA)>
<!ATTLIST _date type (STRING) #REQUIRED>
