admit/xmlio/dtd/Moment_BDP.dtd

<!-- This file is automatically generated by dtdGenerator.py,
  based on files in admit/bdp and admit/at. Edit this file at your own risk.
-->
<!-- The root node is BDP and has child nodes listed afterward,
     a * indicates 0 or more instances
     a ? indicates 0 or 1 instances
     no added marker indicates 1 instance is expected
 -->
<!ELEMENT BDP	(_updated,mous,_type,_baseDir,gous,image,xmlFile,_version,project,moment,sous,_uid,_taskid,line,_date)>
<!ATTLIST BDP type (Moment_BDP) #REQUIRED>
<!-- child nodes #PCDATA indicates parsable character data-->
<!ELEMENT _updated		(#PCDATA)>
<!ATTLIST _updated type (BOOL) #REQUIRED>
<!ELEMENT project		(#PCDATA)>
<!ATTLIST project type (STRING) #REQUIRED>
<!ELEMENT _type		(#PCDATA)>
<!ATTLIST _type type (STRING) #REQUIRED>
<!ELEMENT _baseDir		(#PCDATA)>
<!ATTLIST _baseDir type (STRING) #REQUIRED>
<!ELEMENT gous		(#PCDATA)>
<!ATTLIST gous type (STRING) #REQUIRED>
<!ELEMENT image	(images)>
<!ATTLIST image type (MULTIIMAGE) #REQUIRED>
<!ELEMENT images		(#PCDATA)>
<!ATTLIST images ndarray (STRING) #REQUIRED>
<!ATTLIST images set (STRING) #REQUIRED>
<!ATTLIST images type (DICT) #REQUIRED>
<!ELEMENT IMG	(description,auxtype,thumbnailtype,images,auxiliary,thumbnail,name)>
<!ATTLIST IMG type (IMAGE) #REQUIRED>
<!ELEMENT description		(#PCDATA)>
<!ATTLIST description type (STRING) #REQUIRED>
<!ELEMENT auxtype		(#PCDATA)>
<!ATTLIST auxtype type (STRING) #REQUIRED>
<!ELEMENT thumbnailtype		(#PCDATA)>
<!ATTLIST thumbnailtype type (STRING) #REQUIRED>
<!ELEMENT images		(#PCDATA)>
<!ATTLIST images ndarray (STRING) #REQUIRED>
<!ATTLIST images set (STRING) #REQUIRED>
<!ATTLIST images type (DICT) #REQUIRED>
<!ELEMENT auxiliary		(#PCDATA)>
<!ATTLIST auxiliary type (STRING) #REQUIRED>
<!ELEMENT thumbnail		(#PCDATA)>
<!ATTLIST thumbnail type (STRING) #REQUIRED>
<!ELEMENT name		(#PCDATA)>
<!ATTLIST name type (STRING) #REQUIRED>
<!ELEMENT xmlFile		(#PCDATA)>
<!ATTLIST xmlFile type (STRING) #REQUIRED>
<!ELEMENT _version		(#PCDATA)>
<!ATTLIST _version type (STRING) #REQUIRED>
<!ELEMENT mous		(#PCDATA)>
<!ATTLIST mous type (STRING) #REQUIRED>
<!ELEMENT moment		(#PCDATA)>
<!ATTLIST moment type (INT) #REQUIRED>
<!ELEMENT _uid		(#PCDATA)>
<!ATTLIST _uid type (INT) #REQUIRED>
<!ELEMENT sous		(#PCDATA)>
<!ATTLIST sous type (STRING) #REQUIRED>
<!ELEMENT _taskid		(#PCDATA)>
<!ATTLIST _taskid type (INT) #REQUIRED>
<!ELEMENT line	(funits,name,energies,transition,energyunits,lsunits,frequency,uid,formula,blend,linestrength)>
<!ATTLIST line type (LINE) #REQUIRED>
<!ELEMENT funits		(#PCDATA)>
<!ATTLIST funits type (STRING) #REQUIRED>
<!ELEMENT name		(#PCDATA)>
<!ATTLIST name type (STRING) #REQUIRED>
<!ELEMENT energies		(#PCDATA)>
<!ATTLIST energies ndarray (STRING) #REQUIRED>
<!ATTLIST energies set (STRING) #REQUIRED>
<!ATTLIST energies type (LIST) #REQUIRED>
<!ELEMENT transition		(#PCDATA)>
<!ATTLIST transition type (STRING) #REQUIRED>
<!ELEMENT energyunits		(#PCDATA)>
<!ATTLIST energyunits type (STRING) #REQUIRED>
<!ELEMENT lsunits		(#PCDATA)>
<!ATTLIST lsunits type (STRING) #REQUIRED>
<!ELEMENT frequency		(#PCDATA)>
<!ATTLIST frequency type (FLOAT) #REQUIRED>
<!ELEMENT uid		(#PCDATA)>
<!ATTLIST uid type (STRING) #REQUIRED>
<!ELEMENT formula		(#PCDATA)>
<!ATTLIST formula type (STRING) #REQUIRED>
<!ELEMENT blend		(#PCDATA)>
<!ATTLIST blend type (INT) #REQUIRED>
<!ELEMENT linestrength		(#PCDATA)>
<!ATTLIST linestrength type (FLOAT) #REQUIRED>
<!ELEMENT _date		(#PCDATA)>
<!ATTLIST _date type (STRING) #REQUIRED>
