admit/xmlio/dtd/SpectralMap_BDP.dtd

<!-- This file is automatically generated by dtdGenerator.py,
  based on files in admit/bdp and admit/at. Edit this file at your own risk.
-->
<!-- The root node is BDP and has child nodes listed afterward,
     a * indicates 0 or more instances
     a ? indicates 0 or 1 instances
     no added marker indicates 1 instance is expected
 -->
<!ELEMENT BDP	(project,sous,mous,gous,_date,_type,xmlFile,_baseDir,_updated,_taskid,_version,_uid,table)>
<!ATTLIST BDP type (SpectralMap_BDP) #REQUIRED>
<!-- child nodes #PCDATA indicates parsable character data-->
<!ELEMENT project		(#PCDATA)>
<!ATTLIST project type (STRING) #REQUIRED>
<!ELEMENT sous		(#PCDATA)>
<!ATTLIST sous type (STRING) #REQUIRED>
<!ELEMENT mous		(#PCDATA)>
<!ATTLIST mous type (STRING) #REQUIRED>
<!ELEMENT gous		(#PCDATA)>
<!ATTLIST gous type (STRING) #REQUIRED>
<!ELEMENT _date		(#PCDATA)>
<!ATTLIST _date type (STRING) #REQUIRED>
<!ELEMENT _type		(#PCDATA)>
<!ATTLIST _type type (STRING) #REQUIRED>
<!ELEMENT xmlFile		(#PCDATA)>
<!ATTLIST xmlFile type (STRING) #REQUIRED>
<!ELEMENT _baseDir		(#PCDATA)>
<!ATTLIST _baseDir type (STRING) #REQUIRED>
<!ELEMENT _updated		(#PCDATA)>
<!ATTLIST _updated type (BOOL) #REQUIRED>
<!ELEMENT _taskid		(#PCDATA)>
<!ATTLIST _taskid type (INT) #REQUIRED>
<!ELEMENT _version		(#PCDATA)>
<!ATTLIST _version type (STRING) #REQUIRED>
<!ELEMENT _uid		(#PCDATA)>
<!ATTLIST _uid type (INT) #REQUIRED>
<!ELEMENT table	(columns,units,planes,data,description)>
<!ATTLIST table type (TABLE) #REQUIRED>
<!ELEMENT columns		(#PCDATA)>
<!ATTLIST columns ndarray (STRING) #REQUIRED>
<!ATTLIST columns set (STRING) #REQUIRED>
<!ATTLIST columns type (LIST) #REQUIRED>
<!ELEMENT units		(#PCDATA)>
<!ATTLIST units ndarray (STRING) #REQUIRED>
<!ATTLIST units set (STRING) #REQUIRED>
<!ATTLIST units type (LIST) #REQUIRED>
<!ELEMENT planes		(#PCDATA)>
<!ATTLIST planes ndarray (STRING) #REQUIRED>
<!ATTLIST planes set (STRING) #REQUIRED>
<!ATTLIST planes type (LIST) #REQUIRED>
<!ELEMENT data		(#PCDATA)>
<!ATTLIST data type (NDARRAY) #REQUIRED>
<!ELEMENT description		(#PCDATA)>
<!ATTLIST description type (STRING) #REQUIRED>
